.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.file-tree {
overflow-y: auto;
height: 100%;
border-right: 1px solid #ccc; 
}

.editor {
flex-grow: 1;
overflow-y: auto;
display: flex;
align-items: center; 
justify-content: center; 
}
